@model IEnumerable<ASP.NETCoreIdentityCustom.Models.Booking>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Services
            </th>
            <th>
                Booking Date
            </th>
            <th>
                Booking Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Washing)
                    {
                        <span>Washing</span>
                        <br />
                    }
                    @if (item.StainTreatment)
                    {
                        <span>Stain Treatment</span>
                        <br />
                    }
                    @if (item.Drying)
                    {
                        <span>Drying</span>
                        <br />
                    }
                    @if (item.Ironing)
                    {
                        <span>Ironing</span>
                        <br />
                    }
                </td>
                <td>
                    @item.BookingDate.ToShortDateString()
                </td>
                <td>
                    @item.BookingTime.ToString("hh\\:mm")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
